@import url('https://fonts.googleapis.com/css?family=Bahiana');

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--yellow);
	text-decoration: none;
  transition: color 0.5s ease;
}

.nav-links > li > a:hover {
	color: var(--red);
}

.nav-links > li > a {
	font-family: 'Bahiana', cursive;
	font-size: 1.2rem;
	padding-right: 10px;
}

.brand {
  display: inline-block;
}

.brand img {
	max-width: 50px;
	height: auto;
}

.brand img:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}
